<?xml version="1.0" encoding="UTF-8" ?>
<html>
<body>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <h2 wicket:id="headline"></h2>
    <p wicket:id="description"></p>
    <div class="container" style="padding-top: 30px">
        <div class="jumbotron" style="text-align: center; background-color: #844">
            <h1 class="text-align: center"><span class="glyphicon glyphicon-ban-circle"></span></h1>
            <h1>Closed Alpha</h1>
            <p>This area is for closed alpha users only.</p>
        </div>
    </div>
</wicket:panel>
</body>
</html>
